.connect
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
    &-h3
    {
        font-size: 3.5rem;
        margin-bottom: 4rem;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 5px;
        
    }
    &-h4
    {
        margin-bottom: 2rem;
        font-weight: 400;
        line-height: 1.5;
        font-size: 2rem;
    }
    &-area
    {
        width: inherit;
        text-align: center;
        animation: top-down 1s 1;
        position: relative;

    }
    &-footer
    {
        display: flex;
        justify-content: center;
        list-style: none;
        position: relative;
        & li
        {
            display: list-item;
            margin-left: 3rem;
        }
        animation: bottom-up 1s 1;
    }
   
}
.twitter
{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 172, 237);
    padding: 5px 8px;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    list-style-type: none;
    text-decoration: none;
}
.github
{
    color: rgb(255, 255, 255);
    background-color: rgb(65, 131, 196);
    padding: 5px 8px;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    list-style-type: none;
    text-decoration: none;
}
.facebook
{
    color: rgb(255, 255, 255);
    background-color: rgb(59, 89, 152);
    padding: 5px 8px;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    list-style-type: none;
    text-decoration: none;
}
.linkedin
{
    background-color: #0077B5;
    padding: 5px 8px;
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    color: rgb(255, 255, 255);
    list-style-type: none;
    text-decoration: none;

}

@keyframes bottom-up
{
    0%{top:10%};
    100%{top:0%};
}
@keyframes top-down
{
    0%{top:-10%};
    100%{top:0%};
}
