.about
{
    display: flex;
    justify-content: space-around;
    width: 70%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top:5rem;
    animation: myfirst 1s 1;
    &-section
    {
        max-width: 45rem;
        font-size: 2rem;
        align-self: center;
        &__desc
        {
            
             &>p
             {
                
                    margin-block-end:20px;
                    text-align: justify; 
            }  
        }     
        
       
    }
}

@keyframes myfirst {
    0%   {left: 30%;}
    100% {left:50%;}
  }
