.about
{
    display: flex;
    justify-content: space-around;
    width: 70%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
  
    &-section
    {
        max-width: 45rem;
        font-size: 2rem;
        align-self: center;
        &__desc
        {
            margin-top:5rem;
             &>p
             {
                
                    margin-block-end:20px;
                    text-align: justify; 
            }  
        }     
       
       
    }
}

