.logo-space
{
    margin-left: 2rem;
    &__img
    {
        width: 8rem;
        height: 8rem;
    }
}
@media screen and (max-width: 700px)
{
    .logo-space
    {
        margin-left: 0.5rem;
        &__img
        {
            width: 6rem;
            height: 6rem;
        }
    }
}